* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    list-style: none;
}

@font-face {
    font-family: 'Vintage';
    src: url(/src/fonts/OverseerBold-DyzD.ttf);
}

body {
    background-color: #1d1f1c;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 50px;
    padding: 12.5px 75px 12.5px 75px;
    background: #242623;
    position: sticky;
    top: 0px;
    box-shadow: 0px 4px 10px #0c0c0c;
}

header > div {
    flex: 1;
    color: #c68e61;
    font-weight: 900;
    display: flex;
    align-items: center;
}

header > div > div:nth-child(1) {
    font-size: 2.1rem;
    font-style: italic;
    font-family: 'Vintage', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

header > div > div:nth-child(2) {
    width: 50px;
    height: 50px;
    background-image: url(../images/logo-img.png);
    background-size: cover;
    background-position: center;
}

nav {
    flex: 0.5;
    color: #ffffff;
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    cursor: pointer;
}

#home {
    text-decoration-color: red;
}

#content {
    min-height: 100vh;
}

.home-page {
    display: flex;
    gap: 50px;
    min-height: 100vh;
    padding: 50px 150px 100px 75px;
}

.home-page div:nth-child(1) {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home-page div:nth-child(1) > div {
    flex: 8;
    display: flex;
    justify-content: start;
    align-items: center;
}   

.home-page div:nth-child(1) > div > p {
    font-size: 7rem;
    font-weight: 900;
    color: #ffffff;
    font-style: italic;
}  

.home-page div:nth-child(1) > button {
    align-self: center;
    height: 55px;
    width: 180px;
    background-color: #1d1f1c;
    border: 0.5px solid #cac8c8;
    font-size: 1.5rem;
    font-weight: 800;
    color: #ffffff;
    cursor: pointer;
}

.home-page div:nth-child(2) {
    flex: 1;
    background-image: url(../images/home-page.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 8px 8px 8px #0c0c0c;
}

.top-section {
    background-image: url(../images/menu-page.jpg);
    background-size: cover;
    background-position: center;
    height: 550px;
    display: flex;
    flex-direction: column;
}

.top-section {
    text-align: center;
    color: #ffffff;
    font-weight: 800;
    padding: 20px 0 0 0;
    font-style: italic;
}

.top-section p:first-child {
    font-size: 5rem;
    font-style: normal;
}

.item {
    display: flex;
    margin: 30px;
    background-color: rgb(255, 255, 255, 0.21);
    height: 450px;
    box-shadow: 12px 12px 12px #0c0c0c;
    overflow: auto;
}

.item > div {
    flex: 1;
}

.item-text-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #ffffff;
}

.item-text-section div:nth-child(1) {
    flex: 0.1;
    font-size: 3.15rem;
    font-weight: 800;
    align-self: center;
}

.item-text-section div:nth-child(2) {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    text-align: center;
}

.item-img-section {
    background-image: url(../images/sushi.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 20px;
}

.img-two {
    background-image: url(../images/ramen.jpg);
}

.img-three {
    background-image: url(../images/sake.jpg);
}

.contacts {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: space-between;
}

.contact-boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    height: 100px;
    border: 10px solid #c68e61;
    box-shadow: 12px 12px 12px #0c0c0c;
    font-size: 1.35rem;
    font-weight: 700;
    color: #ffffff;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
    color: #000;
    padding: 0 0 7.5px 0;
}

footer div {
    background-image: url(../images/github-logo.png);
    background-size: cover;
    background-position: center;
    width: 22.5px;
    height: 22.5px;
}

@media (max-width: 750px) {
    header {
        padding: 15px;
    }

    nav ul {
        gap: 30px;
    }

    .item {
        flex-direction: column;
        height: 900px;
    }

    .item-reverse {
        flex-direction: column-reverse;
    }

    .home-page div:nth-child(2) {
        display: none;
    }

    .home-page {
        padding: 100px 30px;
    }

    .contact-boxes {
        padding: 30px 10px;
        font-size: 1rem;
    }
}